# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.pytest_cache

# Virtual environments
venv/
.env/

# IDEs
.vscode/
.idea/


# Test data or logs
tests/data
logs/

# Backup
.backup
